In [1]:
print("hekllo")

hekllo

In [52]:
import numpy as np
import pandas as pd

In [55]:
df=pd.read_excel("Adidas_USSales_Datasets.xlsx")

In [56]:
df

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet
9644,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet
9645,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet
9646,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet
9647,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet

In [8]:
df.columns

Index(['Retailer', 'Retailer ID', 'Invoice Date', 'Region', 'State', 'City',
       'Product', 'Price per Unit', 'Units Sold', 'Total Sales',
       'Operating Profit', 'Operating Margin', 'Sales Method'],
      dtype='object')

In [30]:
df.groupby(['Retailer'])['Retailer ID'].unique()

Retailer
Amazon                                      [1185732]
Foot Locker               [1185732, 1128299, 1197831]
Kohl's           [1189833, 1185732, 1128299, 1197831]
Sports Direct             [1197831, 1185732, 1128299]
Walmart                   [1185732, 1197831, 1128299]
West Gear                 [1128299, 1185732, 1197831]
Name: Retailer ID, dtype: object

In [31]:
df.groupby(['Region'])['Retailer'].unique()

Region
Midwest      [Foot Locker, Sports Direct, Kohl's, West Gear...
Northeast    [Foot Locker, Walmart, Sports Direct, West Gea...
South        [Sports Direct, Walmart, West Gear, Foot Locke...
Southeast    [Foot Locker, West Gear, Sports Direct, Walmar...
West         [West Gear, Kohl's, Foot Locker, Amazon, Walma...
Name: Retailer, dtype: object

In [32]:
df.groupby(['City'])['Retailer'].unique()

City
Albany                                [West Gear, Kohl's]
Albuquerque                       [Kohl's, Sports Direct]
Anchorage                           [Amazon, Foot Locker]
Atlanta                      [Sports Direct, Foot Locker]
Baltimore         [West Gear, Foot Locker, Sports Direct]
Billings                          [Kohl's, Sports Direct]
Birmingham                        [Sports Direct, Amazon]
Boise             [Foot Locker, West Gear, Sports Direct]
Boston                            [Sports Direct, Amazon]
Burlington                            [Amazon, West Gear]
Charleston        [Foot Locker, Sports Direct, West Gear]
Charlotte                         [Sports Direct, Amazon]
Cheyenne                            [Kohl's, Foot Locker]
Chicago                      [Foot Locker, Sports Direct]
Columbus                              [Amazon, West Gear]
Dallas                       [Sports Direct, Foot Locker]
Denver                                        [West Gear]
Des Moines                       [Foot Locker, West Gear]
Detroit                      [Sports Direct, Foot Locker]
Fargo                        [Sports Direct, Foot Locker]
Hartford                     [Sports Direct, Foot Locker]
Honolulu            [Foot Locker, Walmart, Sports Direct]
Houston               [Sports Direct, Walmart, West Gear]
Indianapolis                                  [West Gear]
Jackson             [Foot Locker, Walmart, Sports Direct]
Knoxville                    [Sports Direct, Foot Locker]
Las Vegas                                     [West Gear]
Little Rock                          [Walmart, West Gear]
Los Angeles                         [Kohl's, Foot Locker]
Louisville                          [Amazon, Foot Locker]
Manchester                          [Amazon, Foot Locker]
Miami             [Foot Locker, West Gear, Sports Direct]
Milwaukee                                     [West Gear]
Minneapolis                         [Foot Locker, Kohl's]
New Orleans                      [West Gear, Foot Locker]
New York            [Foot Locker, Walmart, Sports Direct]
Newark                            [Kohl's, Sports Direct]
Oklahoma City                         [West Gear, Kohl's]
Omaha                        [Foot Locker, Sports Direct]
Orlando               [Sports Direct, Walmart, West Gear]
Philadelphia                     [Foot Locker, West Gear]
Phoenix                             [Foot Locker, Kohl's]
Portland                              [Amazon, West Gear]
Providence                   [Foot Locker, Sports Direct]
Richmond                     [Foot Locker, Sports Direct]
Salt Lake City                                [West Gear]
San Francisco                         [West Gear, Kohl's]
Seattle                          [West Gear, Foot Locker]
Sioux Falls                  [Foot Locker, Sports Direct]
St. Louis                        [Foot Locker, West Gear]
Wichita                             [Kohl's, Foot Locker]
Wilmington                          [Foot Locker, Kohl's]
Name: Retailer, dtype: object

In [39]:
df.groupby(['City'])['Product'].unique()

City
Albany            [Women's Athletic Footwear, Men's Apparel, Wom...
Albuquerque       [Women's Athletic Footwear, Men's Apparel, Wom...
Anchorage         [Women's Apparel, Men's Street Footwear, Men's...
Atlanta           [Women's Athletic Footwear, Men's Apparel, Wom...
Baltimore         [Women's Athletic Footwear, Men's Apparel, Wom...
Billings          [Men's Apparel, Women's Apparel, Men's Street ...
Birmingham        [Men's Apparel, Women's Apparel, Men's Street ...
Boise             [Women's Athletic Footwear, Men's Apparel, Wom...
Boston            [Women's Athletic Footwear, Men's Apparel, Wom...
Burlington        [Women's Athletic Footwear, Men's Apparel, Wom...
Charleston        [Women's Athletic Footwear, Men's Apparel, Wom...
Charlotte         [Women's Athletic Footwear, Men's Apparel, Wom...
Cheyenne          [Women's Athletic Footwear, Men's Apparel, Wom...
Chicago           [Men's Apparel, Women's Apparel, Men's Street ...
Columbus          [Women's Athletic Footwear, Men's Apparel, Wom...
Dallas            [Men's Apparel, Women's Apparel, Men's Street ...
Denver            [Men's Apparel, Women's Apparel, Men's Street ...
Des Moines        [Women's Athletic Footwear, Men's Apparel, Wom...
Detroit           [Women's Athletic Footwear, Men's Apparel, Wom...
Fargo             [Women's Athletic Footwear, Men's Apparel, Wom...
Hartford          [Women's Athletic Footwear, Men's Apparel, Wom...
Honolulu          [Women's Athletic Footwear, Men's Apparel, Wom...
Houston           [Men's Apparel, Women's Apparel, Men's Street ...
Indianapolis      [Women's Athletic Footwear, Men's Apparel, Wom...
Jackson           [Women's Athletic Footwear, Men's Apparel, Wom...
Knoxville         [Men's Apparel, Women's Apparel, Men's Street ...
Las Vegas         [Men's Apparel, Women's Apparel, Men's Street ...
Little Rock       [Women's Athletic Footwear, Men's Apparel, Wom...
Los Angeles       [Men's Apparel, Women's Apparel, Men's Street ...
Louisville        [Women's Athletic Footwear, Men's Apparel, Wom...
Manchester        [Women's Athletic Footwear, Men's Apparel, Wom...
Miami             [Men's Apparel, Women's Apparel, Men's Street ...
Milwaukee         [Women's Athletic Footwear, Men's Apparel, Wom...
Minneapolis       [Men's Apparel, Women's Apparel, Men's Street ...
New Orleans       [Women's Athletic Footwear, Men's Apparel, Wom...
New York          [Men's Street Footwear, Men's Athletic Footwea...
Newark            [Women's Athletic Footwear, Men's Apparel, Wom...
Oklahoma City     [Women's Athletic Footwear, Men's Apparel, Wom...
Omaha             [Men's Apparel, Women's Apparel, Men's Street ...
Orlando           [Women's Athletic Footwear, Men's Apparel, Wom...
Philadelphia      [Men's Apparel, Women's Apparel, Men's Street ...
Phoenix           [Women's Athletic Footwear, Men's Apparel, Wom...
Portland          [Men's Apparel, Women's Apparel, Men's Street ...
Providence        [Women's Athletic Footwear, Men's Apparel, Wom...
Richmond          [Women's Athletic Footwear, Men's Apparel, Wom...
Salt Lake City    [Women's Athletic Footwear, Men's Apparel, Wom...
San Francisco     [Men's Apparel, Women's Apparel, Men's Street ...
Seattle           [Men's Apparel, Women's Apparel, Men's Street ...
Sioux Falls       [Women's Athletic Footwear, Men's Apparel, Wom...
St. Louis         [Women's Athletic Footwear, Men's Apparel, Wom...
Wichita           [Women's Athletic Footwear, Men's Apparel, Wom...
Wilmington        [Women's Athletic Footwear, Men's Apparel, Wom...
Name: Product, dtype: object

In [58]:
df.groupby(['Retailer'])['Total Sales'].sum()

Retailer
Amazon            77698912.0
Foot Locker      220094720.0
Kohl's           102114753.0
Sports Direct    182470997.0
Walmart           74558410.0
West Gear        242964333.0
Name: Total Sales, dtype: float64

In [62]:
df.groupby(['City','Retailer']).aggregate({'Total Sales':sum,'Operating Profit':sum})

                           Total Sales  Operating Profit
City        Retailer
Albany      Kohl's           3692639.0        1367451.11
            West Gear       20735165.0        8062399.80
Albuquerque Kohl's          17065965.0        5783668.15
            Sports Direct    2799051.0         954392.26
Anchorage   Amazon          13365025.0        4143804.75
...                                ...               ...
St. Louis   West Gear        1701133.0         681457.25
Wichita     Foot Locker      3520950.0        1230372.67
            Kohl's           6451914.0        2279774.62
Wilmington  Foot Locker      8387568.0        3077352.68
            Kohl's           3910844.0        1446997.38

[108 rows x 2 columns]

In [63]:
df.columns

Index(['Retailer', 'Retailer ID', 'Invoice Date', 'Region', 'State', 'City',
       'Product', 'Price per Unit', 'Units Sold', 'Total Sales',
       'Operating Profit', 'Operating Margin', 'Sales Method'],
      dtype='object')

In [64]:
df.groupby(['Product','Retailer']).aggregate({'Total Sales':sum,'Operating Profit':sum})

                                         Total Sales  Operating Profit
Product                   Retailer
Men's Apparel             Amazon          10474770.0        3331443.80
                          Foot Locker     29508995.0        9942404.61
                          Kohl's          14164965.0        5945043.20
                          Sports Direct   24825286.0        8723914.71
                          Walmart         11490680.0        3166591.22
                          West Gear       33263936.0       13653632.79
Men's Athletic Footwear   Amazon          12011959.0        4518030.11
                          Foot Locker     36480415.0       12409221.49
                          Kohl's          17885316.0        5725762.60
                          Sports Direct   30889734.0       11935672.81
                          Walmart         13600404.0        4029257.65
                          West Gear       42805852.0       13228943.53
Men's Street Footwear     Amazon          22161652.0        8707658.12
                          Foot Locker     57481575.0       23060809.17
                          Kohl's          22421073.0        9219819.89
                          Sports Direct   38672270.0       15837750.43
                          Walmart         14924255.0        5438666.13
                          West Gear       53165419.0       20537556.88
Women's Apparel           Amazon          15710639.0        6280071.53
                          Foot Locker     43296114.0       17192901.49
                          Kohl's          20315239.0        5596172.50
                          Sports Direct   37113257.0       17832960.67
                          Walmart         15316099.0        6348451.03
                          West Gear       47287512.0       15400413.34
Women's Athletic Footwear Amazon           7935255.0        2701607.74
                          Foot Locker     24239624.0        8477313.73
                          Kohl's          12493869.0        4570693.09
                          Sports Direct   23145288.0        9688746.39
                          Walmart          8762792.0        3239052.49
                          West Gear       30055068.0       10298371.50
Women's Street Footwear   Amazon           9404637.0        3279692.01
                          Foot Locker     29087997.0        9639474.32
                          Kohl's          14834291.0        5753761.30
                          Sports Direct   27825162.0       10313909.95
                          Walmart         10464180.0        3560034.09
                          West Gear       36386546.0       12548955.14